<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mudi - Home</title>
</head>
<body>
    <div>
        <div>
            Nome do produto
        </div>
        <div>
            Valor : <span> 233</span>
        </div>
        <div>
            Data da entrega : <span> 1122222</span>
        </div>
        <div>
            URL do produto
        </div>
        <div>
            Desc do pedido:
            <textarea>
                desdc
            </textarea>
        </div>
        <div>
            <img src='' alt="">
        </div>
    </div>
</body>
</html>